* {
  box-sizing: border-box;
  margin: 0;

}

header {
  border-bottom: 5px solid #F3F5F7;
  height: 90px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: ;
}

.logo {
  width: max-content;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  font-size: 3rem;

}

.testo {
  width: max-content;
  height: 50px;
  vertical-align: middle;
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
}

.main-container {
  padding-top: 20px;
  width: 850px;
  height: 850px;
  margin: 30px auto;
  border-radius: 10px;
  border-left: 10px;


}

.secondary-container {

  height: 40px;
  padding-bottom: 10px;
}

.rettangolo {
  ;
  width: 75px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  font-size: 0.8rem;

}

.rettangolo1 {
  width: 90px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;

}

#blu {
  /*margin-left: 30px;*/
  background-color: #46AFE9;
  color: white;
}

#bianco {
  border: 2px solid gray;
  color: gray;
}

#puprle {
  background-color: #936ED5;
  color: white;
}

#seagreen {
  background-color: #65C0A6;
  color: white;
}

#orange {
  background-color: #F7A833;
  color: white;
}

#fuscia {
  background-color: #D765A0;
  color: white;
}

#lightgreen {
  background-color: #AFC92A;
  color: white;
}

.mark {
  border: 1px solid seagreen;
  color: seagreen;
  width: 50px;
  height: 40px;
  border-radius: 60px;
  text-align: center;


}

.mark1 {
  color: red;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  text-align: center;
}


.first-list {
  border-top: lightgray 1px solid;
  height: 140px;
  font-size: 1.5rem;
  padding-top: 50px;

}

.font {
  font-size: 1rem;
  vertical-align: middle;
}

.second-list {
  font-size: 1.5rem;
  padding-top: 25px;
  padding-bottom: 25px;



}


.third-list {
  font-size: 1.5rem;


}