* {
  box-sizing: border-box;
  margin: 0;
  ;
}

header {
  border: 1px solid #F6F8FA;
  height: 90px;
  padding-left: 20px;
  padding-top: 20px;

}

.logo {
  width: max-content;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  font-size: 3rem;

}

.test {
  width: max-content;
  height: 50px;
  vertical-align: middle;
  display: inline-block;
  font-size: 3rem;
}

.main-container {
  width: 900px;
  height: 800px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}

.secondary-container {
  height: 100px;
  border: 1px solid black;


}

.first-list {
  height: 100px;
  border: 1px solid black;


}

.second-list {
  height: 350px;
  border: 1px solid black;


}


.third-list {
  border: 1px solid black;

}