* {
  box-sizing: border-box;
  margin: 0;
  ;
}

header {
  border: 1px solid #F6F8FA;
  height: 90px;
  padding-left: 20px;
  padding-top: 20px;

}

.logo {
  width: max-content;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  font-size: 3rem;

}

.testo {
  width: max-content;
  height: 50px;
  vertical-align: middle;
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
}

.main-container {
  padding-top: 20px;
  width: 900px;
  height: 800px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}

.secondary-container {
  height: 50px;
  border: 1px solid gray;
}

.rettangolo {
  border: 1px solid black;
  width: 90px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;

}

#blu {
  /*margin-left: 30px;*/
  background-color: #46AFE9;
  color: white;
}

#bianco {
  border: 2px solid gray;
  color: gray;
}


.mark {
  border: 1px solid seagreen;
  color: seagreen;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  text-align: center;

}

.mark1 {
  border: 1px solid red;
  color: red;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  text-align: center;
}


.first-list {
  height: 100px;
  border: 1px solid black;
  font-size: 1.5rem;

}

.font {
  font-size: 1rem;
  vertical-align: middle;
}

.second-list {
  height: 350px;
  border: 1px solid black;


}


.third-list {
  border: 1px solid black;

}